{% extends 'adminlte/base.html' %}

{% load i18n %}

{% load account%}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% block content %}
<div class="box box-info">
            <div class="box-header with-border">
              <h2 class="box-title">Подключить аккаунт социальной сети</h2>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <b>Как подключить социальный аккаунт?</b>
            <p>Есть 2 варианта подключения нескольких аккаунтов одной и той же социальной сети. Выберите тот, который лучше вам подходит:</p>
            <strong>Вариант 1</strong>
            <ul>
             <li>Открыть браузер в режиме "Инкогнито".</li>
             <li>Войти на сайт autister.com.</li>
             <li>Открыть социальную сеть и залогиниться под нужным аккаунтом.</li>
             <li>В панеле управления нажмите кнопку подключения нужной социальной сети.</li>
            </ul>
            <strong>Вариант 2</strong>
            <ul>
             <li>Выйдите из своей учетной записи социальной сети, если вы были авторизирвоаны.</li>
             <li>Войдите под нужной учетной записью.</li>
             <li>В панеле управления нажмите кнопку подключения нужной социальной сети.</li>
            </ul>
                <p>Мы поддерживаем:</p>
            <div class="box-body">
              <a class="btn btn-block btn-social btn-vk" href="{% provider_login_url 'vk' process='connect' next='/dashboard/' %}">
                <i class="fa fa-vk"></i> Подключить учетную запись VK
              </a>
              <a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url 'facebook' process='connect' next='/dashboard/' %}">
                <i class="fa fa-facebook"></i> Подключить учетную запись FB
              </a>
              <a class="btn btn-block btn-social btn-twitter" href="{% provider_login_url 'twitter' process='connect' next='/dashboard/' %}">
                <i class="fa fa-twitter"></i> Подключить учетную запись Twitter
              </a>
              <a class="btn btn-block btn-social btn-openid" href="{% provider_login_url 'odnoklassniki' process='connect' next='/dashboard/' %}">
                <i class="fa fa-odnoklassniki"></i> Подключить учетную запись OK
              </a>
              <a class="btn btn-block btn-social btn-instagram" href="{% provider_login_url 'instagram' process='connect' next='/dashboard/' %}">
                <i class="fa fa-instagram"></i> Подключить учетную запись Instagram
              </a>

            </div>
            </div>
</div>
<div class="box box-info">
<div class="box-header with-border">
    <h2>Отключить аккаунты</h2>
    <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
    <div class="box-body">
<div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-vk"></i> Вконтакте</a></li>
              <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-facebook"></i> Facebook</a></li>
              <li><a href="#tab_3" data-toggle="tab"><i class="fa fa-twitter"></i> Twitter</a></li>
              <li><a href="#tab_4" data-toggle="tab"><i class="fa fa-odnoklassniki"></i> Odnoklassniki</a></li>
              <li><a href="#tab_5" data-toggle="tab"><i class="fa fa-instagram"></i> Instagram</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}
                <fieldset>
                {% if form.non_field_errors %}
                <div id="errorMsg">{{ form.non_field_errors }}</div>
                {% endif %}

                {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                {% if account.get_brand.name == 'VK' %}
                <div>
                <label for="id_account_{{ base_account.id }}">
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>{{ account }}
                </label>
                </div>
                {% endif %}
                {% endwith %}
                {% endfor %}
              <div>
              <button class="btn btn-danger pull-left" type="submit">{% trans 'Remove' %}</button>
            </div>
</fieldset>
</form>
              </div>
              <div class="tab-pane" id="tab_2">
                <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}
                <fieldset>
                {% if form.non_field_errors %}
                <div id="errorMsg">{{ form.non_field_errors }}</div>
                {% endif %}

                {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                {% if account.get_brand.name == 'Facebook' %}
                <div>
                <label for="id_account_{{ base_account.id }}">
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>{{ account }}
                </label>
                </div>
                {% endif %}
                {% endwith %}
                {% endfor %}
              <div>
              <button class="btn btn-danger pull-left" type="submit">{% trans 'Remove' %}</button>
            </div>
</fieldset>
</form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}
                <fieldset>
                {% if form.non_field_errors %}
                <div id="errorMsg">{{ form.non_field_errors }}</div>
                {% endif %}

                {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                {% if account.get_brand.name == 'Twitter' %}
                <div>
                <label for="id_account_{{ base_account.id }}">
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>{{ account }}
                </label>
                </div>
                {% endif %}
                {% endwith %}
                {% endfor %}
              <div>
              <button class="btn btn-danger pull-left" type="submit">{% trans 'Remove' %}</button>
            </div>
</fieldset>
</form>
              </div>
              <div class="tab-pane" id="tab_4">
                <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}
                <fieldset>
                {% if form.non_field_errors %}
                <div id="errorMsg">{{ form.non_field_errors }}</div>
                {% endif %}

                {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                {% if account.get_brand.name == 'Odnoklassniki' %}
                <div>
                <label for="id_account_{{ base_account.id }}">
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>{{ account }}
                </label>
                </div>
                {% endif %}
                {% endwith %}
                {% endfor %}
              <div>
              <a class="btn btn-danger pull-left" type="submit">{% trans 'Remove' %}</a>
            </div>
</fieldset>
</form>
              </div>
              <div class="tab-pane" id="tab_5">
                <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}
                <fieldset>
                {% if form.non_field_errors %}
                <div id="errorMsg">{{ form.non_field_errors }}</div>
                {% endif %}

                {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                {% if account.get_brand.name == 'Instagram' %}
                <div>
                <label for="id_account_{{ base_account.id }}">
                <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>{{ account }}
                </label>
                </div>
                {% endif %}
                {% endwith %}
                {% endfor %}
              <div>
              <a class="btn btn-danger pull-left" type="submit">{% trans 'Remove' %}</a>
            </div>
</fieldset>
              </div>
            </div>
</div>
    </div>
</div>
</div>



{% if profile_has_vk %} HAS VK {% endif %}
{% endblock %}