{% extends 'adminlte/base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}
{% block content %}
<div class="box box-primary">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
              <i class="ion ion-clipboard"></i>

              <h1 class="box-title">Приветствуем вас на главной странице сервиса отложенного постинга</h1>
            </div>
            <div class="box-body">
                Пока ничего не работает. Можно только подключить социальные аккаунты и объединить их под одним проектом.

                В данный момент занимаюсь разработкой отправки сообщений в Vkontakte
            </div>

{% endblock %}