{% extends 'adminlte/base.html' %}
{% load i18n %}
{% load bootstrap_tags %}
{% load bootstrap %}
{% load account%}
{% load socialaccount %}


{% block content %}
<div class="box box-primary">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
              <i class="ion ion-clipboard"></i>

              <h1 class="box-title">Планирвоание нового поста в VK</h1>
            </div>
            <div class="box-body">
            <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}

                <div>
                    <button type="submit" class="btn btn-default btn-sm">Отправить в VK</button>
                </div>
                </form>
                <p>
                    {% for token in access_token %}
                    <span>Это токен vk </span>  {{ token }}
                    {% endfor %}
                </p>
            </div>
{% endblock %}