{% extends 'adminlte/base.html' %}
{% load i18n %}
{% load bootstrap_tags %}
{% load bootstrap %}
{% load account%}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

{% block content %}
<div class="box box-info">
            <div class="box-header with-border">
              <h2 class="box-title">Добавить проект</h2>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
                <p>Если вам приходится вести несколько тематических связок из аккаунтов, в которые вы постите разную
                    информацию, то вам будет проще создать отдельный проект и объединить под ним необходимые аккаунты.
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form|as_bootstrap }}
                <div>
                    <button type="submit" class="btn btn-default btn-sm">Сохранить</button>
                </div>
                </form>
            </div>
</div>
{% endblock %}