Babel==2.5.1
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
defusedxml==0.5.0
DistributedLock==1.2
Django==1.11.29
django-adminlte2==0.2.3
django-allauth==0.34.0
django-annoying==0.10.4
django-appconf==1.0.2
django-avatar==4.0.1
django-bootstrap-form==3.3
django-bootstrap3==9.1.0
django-braces==1.12.0
django-ckeditor==5.4.0
django-forms-bootstrap==3.1.0
django-js-asset==0.1.1
django-m2m-history==0.3.6
django-phonenumber-field==2.0.0
django-picklefield==1.0.0
django-recaptcha2==1.0.3
django-simple-metatags==0.9.1
django-social-api==0.1.1
django-social-widgets==0.4.0
django-tinymce==2.7.0
django-uuslug==1.1.8
django-vkontakte-api==0.8.7
django-vkontakte-groups==0.7.2
django-vkontakte-places==0.7.1
django-vkontakte-users==0.8.7
django-vkontakte-wall==0.8.1
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
oauthlib==2.0.6
olefile==0.44
parso==0.1.1
pexpect==4.3.1
phonenumberslite==8.8.9
pickleshare==0.7.4
Pillow==4.3.0
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==1.5
python-memcached==1.59
python-slugify==1.2.4
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
traitlets==4.3.2
Unidecode==0.4.21
urllib3==1.22
vk==2.0.2
vkontakte==1.3.5
wcwidth==0.1.7
whitenoise==3.3.0
