{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
 <div class="modal-dialog">
   <div class="loginmodal-container">
                                      <h1>Войти</h1>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a><br>
  <button class="login loginmodal-submit" type="submit">{% trans "Войти" %}</button>
</form>
                                    </div>
 </div>

{% endblock %}
