{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="modal-dialog">
   <div class="loginmodal-container">
     <h1>Регистрация</h1>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="login loginmodal-submit">{% trans "Зарегистрировать" %}</button>
</form>
   </div>
</div>
{% endblock %}
