 {% extends 'autist/base.html' %}

{% block title %}
Обо мне
{% endblock %}
{% block subhead %}
Блог об одноглазом питоне! Пожиратель змей джанго освобожденном 🐍
{% endblock %}

{% block content %}
Here is the title of about page
content about page
footer for about page
Here is the title of about page
content about page
footer for about page
Here is the title of about page
content about page
footer for about page
Here is the title of about page
content about page
footer for about page
Here is the title of about page
content about page
footer for about page
Here is the title of about page
content about page
footer for about page
{% endblock %}
