{% load staticfiles %}
{{ article.get_short_text | safe }}
{% load meta_tags %}
{% load i18n %}


<!DOCTYPE html>
<html lang="ru" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="i9vj5aOg37RBJ5O6dha6b9upqtjvh1It-TqKejZj0zw" />
	{% block seoeengeen %}
	{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% block meta_tags %}
    {% include_meta_tags %}
    {% endblock %}


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'blog/css/clean-blog.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'blog/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Навигация</span>
                    Меню <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">A U T I S T E R.R U</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="/about/">Обо мне</a>
                    </li>
                    <li>
                        <a href="/contact/">Написать мне</a>
                    </li>
                    <li>{% if request.user.is_authenticated %}
                            <a href="/accounts/logout/">Выйти</a>
                        <img src="{{ request.user.profile.profile_image_url }}"/>
                        {% if request.user.first_name or request.user.last_name %}
                            {{ request.user.first_name }} {{ request.user.last_name }}
                        {% else %}
                            {{ request.user.username }}
                        {% endif %}
    {% if request.user.profile.account_verified %} (подтвержден) {% else %} (неподтвержден) {% endif %}

                        {% else %}
                            <a href="/accounts/login">Войти</a>
                        <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                        {% endif %}
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
{% block headimg %}
{% endblock %}

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>
							{% block h1 %}
							{% endblock %}
						</h1>
                        <hr class="small">
                        <span class="subheading">
							{% block subhead %}
							{% endblock %}
						</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				{% block content1 %}
                {% endblock %}

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/autistter">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; A U T I S T E R 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'blog/vendor/jquery/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'blog/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'blog/js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'blog/js/clean-blog.js' %}"></script>
	<!-- DISQUS -->
	<script id="dsq-count-scr" src="//autister.disqus.com/count.js" async></script>
    <!-- Share Buttons -->
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59786357e29218001169f76f&product=inline-share-buttons"></script>
	
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter45579465 = new Ya.Metrika({
                    id:45579465,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/45579465" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
{% block sign_in_modal %}
{% endblock %}

</body>

</html>
