{% extends 'autist/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block headimg %}
<header class="intro-header" style="background-image: url({% static 'blog/img/post-sample-image.jpg' %})">
{% endblock %}
{% block h1 %}
Написать мне
{% endblock %}
{% block subhead %}
Есть вопросы? У меня есть ответы.
{% endblock %}

{% block content1 %}
     <div class="post-preview">
         {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
                {% endfor %}
            </ul>
         {% endif %}
     {% if sent %}
        <h1>Письмо отправленно!</h1>
        <p>
            Спасибо вам большое! Я свяжусь с вами сразу как только прочту письмо.
        </p>
     {% else %}
        <div class="post-preview">
            <form method="POST" class="post-form"  action=".">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LfnxkAUAAAAAIfp98JhTJfJE4TtD85mi-TZe7W3"></div>
                <button type="submit" class="btn btn-default btn-sm">Отправить</button>
            </form>
        </div>
     {% endif %}

     </div>
{% endblock %}