{% extends 'autist/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load bootstrap %}
{% block headimg %}
<header class="intro-header" style="background-image: url({% static 'blog/img/post-sample-image.jpg' %})">
{% endblock %}
{% block h1 %}
Написать мне
{% endblock %}
{% block subhead %}
Есть вопросы? У меня есть ответы.
{% endblock %}

{% block content1 %}
    <div class="post-preview">

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|as_bootstrap }}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LfnxkAUAAAAAIfp98JhTJfJE4TtD85mi-TZe7W3"></div>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-default btn-sm">Отправить</button>

    </form>
    </div>
{% endblock %}