    <html>
        <head>
            <title>!!!!!!!!!!!!!!!!!!</title>
        </head>
        <body>
            <div>
                <h1><a href="">Шаблон</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Первый пост</a></h2>
                <p>Текстттттттттттттттттттт</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Мой второй пост</a></h2>
                <p>Текстттттттттттттттттттттттт</p>
            </div>
        </body>
    </html>