 {% extends 'autist/base.html' %}

{% block title %}
Установка и настройка Phyton Django
{% endblock %}
{% block subhead %}
Блог об одноглазом питоне! Пожиратель змей джанго освобожденном 🐍
{% endblock %}
    {% block content %}
				{% for post in posts %}
                <div class="post-preview">
                        <h2 class="post-title">
                            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                        </h2>
                        <p>
                            {{ post.text|safe }}
                        </p>
                    <p class="post-meta">Опубликовано {{ post.published_date }}</p>
                </div>
                {% endfor %}
				<ul class="pager">
                    <li class="next">
                        <a href="#">Раньше &rarr;</a>
                    </li>
                </ul>
                <hr>
	 {% endblock %}
                