{% extends 'autist/base.html' %}
{% block sign_in_modal %}
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
		<div class="loginmodal-container">
            <h1>Войти</h1><br>
            <form>
				<input type="text" name="user" placeholder="Username">
				<input type="password" name="pass" placeholder="Password">
				<input type="submit" name="login" class="login loginmodal-submit" value="Войти">
			</form>
            <h1>Зарегистрироваться</h1><br>
            <form>
				<input type="text" name="user" placeholder="Username">
                <input type="text" name="user" placeholder="Email">
				<input type="password" name="pass" placeholder="Password">
                <input type="password" name="pass" placeholder="Password (again)">
				<input type="submit" name="login" class="login loginmodal-submit" value="Регистрация">
			</form>
			<div class="login-help">
				<a href="#">Забыл пароль</a>
			</div>

        </div>
    </div>
</div>
{% endblock %}